/* Kanban styles */
.KanbanContainer {
    text-align: center;
    min-width: 400px;
    max-width: 1000px;
}

.buttonLane {
    text-align: center;
}

.buttonAddLane {
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #606872;
    margin: 0 0 40px;
}

.buttonAddLane:hover {
    background: #606872;
    color: white; 
}

.FlexContainer {
    
}