.header {
  
  background: #eee;
  border-bottom: 1px solid #ccc;
}

.content {
  text-align: center;
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.siteTitle {
  font-weight: 300;
  font-size: 4em;
  font-weight: bold;
}

.siteTitle a {
  text-decoration: none;
  color: #FFF;
}
